* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card {
  background: linear-gradient(
    90deg,
    rgb(118, 219, 118),
    rgb(0, 255, 242),
    rgb(193, 25, 25) 70%
  );
  height: 150vh;
  display: flex;
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
  flex-wrap: wrap;
}
.border {
  background-color: whitesmoke;
  border: 1px solid rgb(79, 79, 192);
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  width: 350px;
  height: 350px;
  margin-top: 20%;
}
.nearest {
  background-color: plum;
  width: 100px;
  font-size: medium;
  margin-left: 10px;
  margin-top: 10px;
  height: 20px;
  text-align: center;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.imgdiv {
  width: 150px;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
}
.wirelesss {
  font-size: 20px;
  font-weight: 500;
  font-family: tahoma;
  text-align: center;
}
.shipped {
  font-size: 20px;
  margin-left: 90px;
  color: grey;
}
.price {
  font-size: 30px;
  font-weight: 400;
  margin-left: 90px;
}
.button {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
  text-align: center;
}
.add {
  background-color: grey;
  font-size: medium;
  height: 50px;
  width: 120px;
  text-align: center;
  justify-content: center;
  display: flex;
  border-radius: 4px;
  align-items: center;
}
.buy {
  background-color: rgb(0, 95, 143);
  height: 50px;
  width: 120px;
  display: flex;
  text-align: center;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}
.add:hover {
  cursor: crosshair;
  background-color: cadetblue;
  border-color: aquamarine;
  color: white;
}
.buy:hover {
  background-color: cyan;
  height: 50px;
  width: 120px;
  display: flex;
  text-align: center;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
}
.tag a:hover {
  color: white;
}
/* @media (max-width: 480px) {
  .border {
    justify-content: center;
    align-items: center;
    text-align: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
  .card {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
  }
} */
